<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="" lang="" id="mondomixmusic">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="verify-v1" content="ucIOuVX2vDKyDY9sV0XmUOwj5hg28H11EeSQkYxrguE=" />
<META name="y_key" content="19c65a8f10fba6cc">
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" type="image/png" href="favicon.png" />



<title>Mondomix MP3 - Accueil</title>

<link href="media/css/mondomixmusic.css" rel="stylesheet" type="text/css" />
<link href="media/css/home.css" rel="stylesheet" type="text/css" />
<link href="media/css/menu_left.css" rel="stylesheet" type="text/css" />
<link href="media/css/facebox.css" rel="stylesheet" type="text/css" />

<!--[if lte IE 9]>
   <link href="http://mp3.mondomix.com/templates/css/global-ie.css" rel="stylesheet" type="text/css" />
<! endif -->


<script type="text/javascript" src="media/js/jquery-1.2.6.pack.js">// -(c)- JQuery 2009 //</script>
<script type="text/javascript" src="media/js/facebox/facebox.js">// -(c)-  //</script>
<script type="text/javascript" src="media/js/dyn_docReady.php?w=home,flalng=fr">// -(c)- Mondomix 2009 //</script>
<script type="text/javascript" src="media/js/panier.lib.js">// -(c)-  //</script>
<!-- CADI spy -->

<!--<script type="text/javascript" src="http://mp3.mondomix.com/templates/js/cadi_js.php?id=home">// -(c)- Mondomix $$ CADI //</script>-->
</head>
<body>
{{elng}}
<div id="box_global">
  
    <!-- bo._tetiere.tpl -->
<div id="box_tetiere">

  
   
  <!-- bo._tetiere_chxLang-pub.tpl $$ 180608-154540 -->
 <div id="box_chxLang-pub_bg">
  
 
  <div id="box_chxLang-pub">
  
    <div id="box-chxLang">
        <form action="/i18n/setlang/" method="post" id="french_language">
            <input type="hidden" name="language" value="fr"/>
        </form>
        <form action="/i18n/setlang/" method="post" id="english_language">
            <input type="hidden" name="language" value="en"/>
        </form>
         
    <a href="javascript:document.getElementById('french_language').submit()" class="selected"><span class="icon-chx-lg">&nbsp;FR&nbsp;</span> Français</a><a href="javascript:document.getElementById('english_language').submit()"><span class="icon-chx-lg">&nbsp;EN&nbsp;</span> English</a>
    </div id="box-chxLang">   
    
    
    <div id="box-pub">
      <div id="fake-pub">



<!--FR MEGABANNER-->

<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://mondomix.info/openx/www/delivery/ajs.php':'http://mondomix.info/openx/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=4");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://mondomix.info/openx/www/delivery/ck.php?n=a9522bf6&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://mondomix.info/openx/www/delivery/avw.php?zoneid=4&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a9522bf6' border='0' alt='' /></a></noscript>

      </div id="fake-pub"> 
    </div id="box-pub">
       
  <br class="clear">
  </div id="box_chxLang-pub">
  
   
  </div id="box_chxLang-pub_bg">
  <!--<div id="box_chxLang-pub_bg-bot"></div> -->
  <!-- eo._tetiere_chxLang-pub.tpl -->

  
  
  <div id="box_logo-identification">
        <!-- bo.identification-nl.form.tpl -->
    <div id="box-identification">
        


        
    <div id="box-nl">
            <form enctype="multipart/form-data" id="reg_nl" name="reg_nl" action="action" method="method">
      <label for="pro_email_nl" class="label-fleche">{{subscribe_news|capfirst}}</label>
      <input type="text" name="pro_email_nl" id="pro_email_nl" value="Votre email"><input type="button" onClick="add_mail2nl();" name="bt_reg_nl_valid" class="nav-top-submit" id="bt_reg_nl_valid" value="ok">
      </form>

          </div id="bt-nl"> 
        
        <div id="box-forg-pwd" class="bt-toolz-tetiere">
      <a href="/forgotpass.php">mot de passe oublié ? Cliquez ici</a>
    </div id="box-forg-pwd">
        
        <div id="bt-auth" class="bt-toolz-tetiere">
    <a href="#" onClick="$('#lab-log-pro').css({background:'url(templates/img/ico_closebutton2.png) no-repeat 0px 2px', 'cursor':'pointer'}).click(function(){$('#fieldset,#box-forg-pwd').hide();$('#bt-reg, #bt-auth').show();}); $('#fieldset,#box-forg-pwd').show();$('#bt-reg, #bt-auth').hide(); return false;">{{my_account|capfirst}}</a>
    </div id="bt-auth">

    
    <div id="fieldset">
      <form id="identification" name="identification" action="http://www.mondomix.com/mp3mondomix/webservice/acc_login.php" method="POST">  
      <label title="Cliquez pour fermer" id="lab-log-pro" for="pro_email_log" class="label-fleche"> Email</label><input type="text" name="log_email" id="pro_email_log" />
      <label class="label-fleche"> Mot de passe</label><input type="password" name="log_pass" id="pro_password_log" />
      <input type="submit" name="bt_identification_valid" id="bt_identification_valid"  class="nav-top-submit" value="ok" />
      <input type="hidden" name="httpmode" value="http" />
      </form>

          </div id="fieldset">
        
    
      
    <div id="bt-reg" class="bt-toolz-tetiere"><a href="inscription.php">{{register|capfirst}}</a></div>
          
    <br class="clear" />

    
        
    
  
      
  


<div id="box-panier">


  <div id="bg-cart-header" jstag="cart">

  <div id="cont-sum">

  <p><span id="cart-item-nb"> aucun</span>  article<span id="jax-cart-item-pluriel"></span> / <span id="cart-total">0</span> &euro;</p>
  </div>  
  
  
  <div id="cont-panier">
  <p><img src="media/img/fleche_right_cart.png" id="fleche-cart"><span>{{my_cart|capfirst}}<span></p>
  </div>

  <br class="clear"/>
  
  </div id="bg-cart-header">

  
  <div id="cart-itemz">
  
  <div id="box-cart-itemz-bg">
    <div id="cart-itemz-bg">
    

  <div id="cart-itemz0">

  <table cellpadding="0" cellspacing="0" border="0" id="panier">
    <tr id="cart-id-empty"><td> panier vide</td></tr>

    
  

  </table>

  <div id="cart-shim"></div>
  
  </div id="cart-itemz0">

  
    </div id="cart-itemz-bg">
    
  <div id="cart-ds-bottom"></div>
  </div id="box-cart-itemz-bg">
   

  
  </div id="cart-itemz">

 
</div id="box-panier">


    
    </div id="box-identification">
<!-- eo.identification-nl.form.tpl -->  
    
    <div id="box-logo-catchline">
    
    <div id="box-logo">    
    <a href="http://{{request.META.HTTP_HOST}}" jstag="big_title">{{mdx_logo|safe}}</a>
    </div id="box-logo">
    
    <div id="box-catchline">
      <p class="beta">{{beta}}</p>

      <p class="catchline">{{mdx_experience}}</p>
      <p class="baseline-soustitre">{{drm_free}}</p>
      
    </div id="box-catchline">
    
    <br class="clear" />
    
    </div id="box-logo-catchline">   
    
   

  <hr id="logo-barre-couleurs"/>
  
  </div id="box_logo-identification">


</div id="box_tetiere">
  <!-- eo._tetiere.tpl -->
  
  <!-- bo._nav_top.tpl -->
  <div id="box-nav-top">
  
    <ul id="nav-top">
    <li><a href="http://www.mondomix.com"  jstag="top_mondo_mag" target="_blank">{{mdx_mag|capfirst}}</a></li>
    <!--<li><a href="#">Petits prix</a></li>-->
    <li><a href="/aide.php" jstag="top_help">{{help|capfirst}}</a></li>

    <!--<li><a href="faq.php">FAQ</a></li>-->
    </ul>
    
    <div id="box-search">
    <form id="quickSearch" method="GET" action="/recherche.php">
    <label for="fld_qs">Rechercher</label>
    <input type="text" name="fld_se_qs" id="fld_qs" autocomplete="off" value="par mots-clés" />&nbsp;<select name="sel_se_type" id="sel-search">
    <option value="artiste" name="artiste"  jstag="search_type_artist" >Artiste</option>
    <option name="album" value="album"  jstag="search_type_album" >Album</option>

    <option name="titre" value="titre"  jstag="search_type_track" >Titre</option>
    <option name="code_mag" value="code_mag"   jstag="search_type_code_mag" >Code Magazine</option>
    </select>&nbsp;<input type="submit" name="bt_valid_qs" id="bt_valid_qs" jstag="search_submit" value="ok"/>
    
    </form>

    <br class="clear"/>
    
    </div id="box-search">
    
    <br class="clear"/>

  
  </div id="box_nav-top">
  <!-- eo._nav_top.tpl -->  
  
<!--bo._nav_left.tpl-->
<div id="box_nav-left">

  <div id="box-menu"> 
   
  <p id="ds-top"></p>
  <div id="box-bg-menu">
    
    <ul id="collapsable-ul" class="treeview">
    <li class="menu">{{explore|capfirst}}
    
      <ul class="ssmenu">
       {% for continent in CONTINENTS%}
	  <li><a href="{{continent.link}}" class="explorer">{{continent.name}}&nbsp;<span class="pipe">|</span></a></li>
      {% endfor %}
      </ul>
      
    </li>
    <li class="menu">{{genres|capfirst}}
        <ul class="ssmenu">
      	  {% for genre in GENRES%}
            <li><a href="{{genre.link}}" class="genre" title="{{genre.name}}">{{genre.name}}&nbsp;<span class="pipe">|</span></a></li>
          {% endfor %}
         </ul>
    </li>
    
          <!--
    <li>Instruments
    
    <ul class="instruments_liste">
            <li><a href="genre.php?idG=5"> - </a></li>
          </ul>
    </li>  
    -->
          <!--<li>Listes de lecture</li>-->
    
        <!--<li class="menu-last"><a href="http://mondomix.com/fr/liste_videos.php">Vidéos gratuites</a></li>-->
    </ul>
  
  
  
  
  </div id="box-bg-menu">

  <p id="ds-bottom"></p>
  
  </div id="box-menu">
    

    
    <div id="box-pubSky">
<!--FR Skyscraper-->
<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://mondomix.info/openx/www/delivery/ajs.php':'http://mondomix.info/openx/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=18");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://mondomix.info/openx/www/delivery/ck.php?n=a9437e85&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://mondomix.info/openx/www/delivery/avw.php?zoneid=18&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a9437e85' border='0' alt='' /></a></noscript>

    
    </div id="box-pubSky">   
  
  </div id="box_nav-left">


  


  <div id="box_main">
  {% block main %}{% endblock %} 
  </div id="box_main">
  <br class="clear">

  

<!--_footer.tpl-->
  <div id="box-footer">

    <ul>
    <li class="footer-copyright">
      <p> All rights reserved. Copy prohibited</p>

      <p class="last">&copy; 1998 - 2009 <a href="#">Mondomix Media</a></p>
    </li>
    <li><a href="/aide.php" jstag="bottom_help"> Aide</a></li>
    <!--<li><a href="#"> FAQ</a></li>-->    <li><a href="http://www.mondomix.com/fr/equipe.php" jstag="bottom_contact" target="_blank"> Contact</a></li>    <!--<li><a href="#"> Partenaires</a></li>-->    <li><a href="http://www.mondomix.com" jstag="bottom_mondo_mag" target="_blank"> Le magazine Mondomix</a></li>    <li><a href="http://mondomix.com/fr/contact.php" jstag="bottom_about" target="_blank"> Qui sommes nous</a></li>    <!--<li style="border:none;"><! -  -<a href="#">rss Mondomix MP3</a>- - ><img src="./templates/img/rss-16x28_shadow_blue.png" /></li>-->

    
    </ul><br class="clear" />

  </div>
<!--_footer.tpl-->
	 <!---GOOGLE STATS-->
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-102032-1";
urchinTracker();
</script>
<!--END GOOGLE STATS-->

</div id="box_global">
<script type="text/javascript">
<!--
xtnv = document;        //parent.document or top.document or document         
xtsd = "http://logi151";
xtsite = "370069";
xtn2 = "38";        // level 2 site 
xtpage = "MP3::Home-fr";        //page name (with the use of :: to create chapters)
xtdi = "";        //implication degree
//-->
</script>

<script type="text/javascript" src="http://mp3.mondomix.com/xtcore.js"></script>
<noscript>
<img width="1" height="1" alt="" src="http://logi151.xiti.com/hit.xiti?s=370069&s2=38&p=MP3::Home&di=&" >
</noscript>
</body></html>

